RESKILING_JAVA/04_java-collections-fundamentals/Collections Materials/.gradle/6.3/gc.properties
RESKILING_JAVA/04_java-collections-fundamentals/Collections Materials/.gradle/6.3/executionHistory/executionHistory.lock
RESKILING_JAVA/04_java-collections-fundamentals/Collections Materials/.gradle/6.3/fileChanges/last-build.bin
RESKILING_JAVA/04_java-collections-fundamentals/Collections Materials/.gradle/6.3/fileHashes/fileHashes.lock
RESKILING_JAVA/04_java-collections-fundamentals/Collections Materials/.gradle/buildOutputCleanup/buildOutputCleanup.lock
RESKILING_JAVA/04_java-collections-fundamentals/Collections Materials/.gradle/buildOutputCleanup/cache.properties
RESKILING_JAVA/04_java-collections-fundamentals/Collections Materials/.gradle/checksums/checksums.lock
RESKILING_JAVA/04_java-collections-fundamentals/Collections Materials/.gradle/vcs-1/gc.properties
